<% provide(:title, 'Home') %>

<% content_for :slider do %>
  <%= render 'promo_slider' %>
<% end %>


<div class="row">
  
  <div class="col-9 d-flex wrap posts-index">
    <%= render partial: "shared/post_index", collection: @posts, as: "post" %>
  </div>
  
  <div class="col-3">
    <%= render "shared/tag_cloud" %>
  </div>
</div><!--/row-->
