<% provide(:title, 'Home') %>

<% if signed_in? %>

<div class="row">
  
  <div class="col-9 d-flex wrap pl-0 pr-0">
    <%= render partial: "shared/post_index", collection: @posts, as: "post" %>
  </div>
  
  <div class="col-3">
    <%= render "shared/tag_cloud" %>
  </div>
</div><!--/row-->


<% else %>
  <div class="sample">
    <h1>Find out how to travel<br>with</h1>
    <h1 class="display-3">Travel HIPE</h1>
    <%= link_to "Sign UP", signup_path, class: "btn btn-large btn-outline-light" %>
  </div>
<% end %>