 	
    
<div class="card">  
    
  <div class="gallery-head gallery-head-first">
    <span class="material-icons"><%= link_to 'add_a_photo', new_user_photo_path(@user) %></span> 
    <h5>Gallery</h5>
  </div>
    
    <div class="gallery">
      <% @photos[0..4].each do |photo| %>
        <%= image_tag(photo.picture_url(:thumb), class: "gallery-item") %>
      <% end %>
    </div>

    <div class="gallery-head">
    <span class="material-icons"><%= link_to 'playlist_add', new_user_post_path(@user) %></span> 
    <h5>Posts</h5>
      </div>

    <%= render @posts %>
 
    
  </div>
