<div class="row mt-3">
        <div class="col">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>  
        </div>
</div>