<div class="popup-back" id="popup-1">
  <div class="popup-plate">
  <span class="material-icons">
    <a href="#" onclick="$('#popup-1').hide()">close</a>
  </span>
    <div class="popup-content" id="popup-content-1">
    </div>
  </div>
</div>
