<h1>New photo to gallery</h1>

    <%= form_for [@user, @photo], multipart: true do |f| %>
      
      <div class="form-group">
      <%= f.file_field :picture, multiple: true, class: "form-controll" %>
      
      </div>
      
      <%= f.submit 'Save image', class: "btn btn-success" %>
    <% end %>  


