<div id="selected-photo"></div>
<a href="#" onclick="applyCrop()" class="btn btn-success" id="apply-crop" style="display: none;">Apply crop</a>
<div class="gallery upload">
      <% @photos.each do |photo| %>
      <div class="position-relative">
        <%= image_tag(photo.picture_url(:thumb), class: "gallery-item") %>
        <div class="bef">
          <a href="#" onclick="PhotoPickUp(event, '<%= photo.picture_url %>')">Add this photo</a>
        </div>
      </div>
      <% end %>
</div>