// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






.post-medium {      /*--- using in users layout*/
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.125);
border-radius: 0.25rem;
margin-bottom: 10px;
position: relative;
}


/*--- using in full layout*/

.post-head {
    overflow: hidden;
    width: 100%;
    position: relative;
    max-height: 200px;
  img {
    min-width: 100%;
    width: 100%;
  }
    .f-field{
    position: absolute;
    top: 50%;
    margin-left: 15px;
    z-index: 20; 
      }
    .tags {
      position: absolute;
      left: 5px;
      a {
        font-size: 11px;
        background-color: #f8f9fac4;
      }
    }
}

.img-footer{
  background-color: rgba(52,58,64,0.72);
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: white;
  padding: 6px 15px;
    p, h4 {
      margin: 0;
      padding: 0;
    }
    p {
      font-size: 12px;
      line-height: 14px;
    }
    input {
      background-color: #ffffff40;
      border: none;
      border-radius: 3px;
      color: black;
      font-weight: bold;
    }
}

.img-footer-left {
  float: left;
  text-align: left;
}

.img-footer-right {
  float: right;
  text-align: right;
}

.post-body {
  padding: 15px;
  text-align: justify;
    p{
      font-size: 14px;
    }

}

.edit-content {
  display: none;
  img {
    opacity: 0.3;
    }
  p {
    margin: 0;
  }
}

.edit-post {
  cursor: pointer;
  margin: 0;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.edit-post:hover {
      color: #404040;
    text-decoration: underline;
}


//     posts-index

.posts-index {
  padding-left: 5px !Important;
  padding-right: 5px !Important;
}

// full size post
.post-title {
  padding: 10px 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .right {
      display: flex;
    p {
      margin: 0;
  }
    .in {
      display: flex;
      font-size: 12px;
      color: gray;  
      align-items: center;
  }
    .material-icons {
      font-size: 16px;
      margin-left: 20px;
      margin-right: 5px;
  }
  }
}

.post-title-item {
  display: inline-block;
  
}

.post-img {
  width: 100%;
}

/*----post-form----*/
.selected-places {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 15px 0;
  white-space: nowrap;
}
.bage-place {
  padding: 5px 10px 5px 30px;
  border-radius: 3px;
  margin: 10px 10px 0 0;
  position: relative;
  .material-icons {
    font-size: 24px !Important;
    top: 6px;
    left: 5px;
    position: absolute;
  }
  .close-b {
    cursor: pointer;
    font-size: 18px;
    color: inherit;
    margin: auto 5px;
  }
  .close-b:hover {
    text-decoration: none;
    color: black;
  }
}

#map-search {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 150px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 28px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

