// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background:  image-url('traveler_backpack.jpg');
  background-size: cover;  
  height: 100%;
  width: 100%;
  order: 2;
  position: relative;
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.in-up-form{
  padding-left: 150px;
}

header{
  label {
    margin: 0;
  }
  .form-group {
    margin-bottom: 8px;
  }
  .form-control {
    background-color: rgba(255,255,255, 0.7);
  }
}

.navbar {
  order: 1;
  box-shadow: 0px 0px 10px black;
}

/* index-posts*/

.index-post {
  max-width: 50%;
  padding: 0 10px 20px 10px;
    p {
      font-size: 10px;
      margin:0;
    }
    .post-body {
      background-color: white;
      padding: 5px;
    }
    img {
      max-height: 200px;
      min-width: 100%;
    }
    .post-body {
      // height: 175px;
    }
    
}



/*--footer--*/

 .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: rgba(192,192,192,0.4);
  font-size: 18px;
  color: white;
  padding: 15px 0;
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    padding: 0 5px;
    float: right;
  }
a {
  text-decoration: none;
  color: white;
  }
a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
  }
}

.footer-signed-in {
  width: 100%;
  margin: 15px 0 0 0;
  font-size: 14px;
  color: #808080;
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      padding: 0 5px;
      float: right;
    }
a {
  text-decoration: none;
  color: #808080;
  }
a:hover {
  color: #808080;
  text-decoration: none;
  font-weight: bold;
  }
  .container {
    padding: 15px 10px;
    border-top: 1px solid #808080;
  }
}

.sample {
color: #31373e;
border-radius: 6px;
float: right;
text-align: center;
  .display-3{
    font-weight: bold;
    letter-spacing: -2px;
  }
  .btn-outline-light {
    padding: 20px 40px;
    border: 2px solid #31373e;
    font-size: 24px;
    font-weight: bold;
    color: #31373e;
  }
  .btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

}




