// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tag-0 { font-size: 0.6em;}
.tag-1 { font-size: 0.8em;}
.tag-2 { font-size: 1.0em;}
.tag-3 { font-size: 1.2em;}
.tag-4 { font-size: 1.4em;}
.tag-5 { font-size: 1.6em;}

.tag-cloud{
  .badge1 {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem; 
  }
  h1, h2, h3, h4, h5 {
    margin: 0px;
}
}

.btn-tag {
      margin: 0 0 10px 10px;
}