

 <div class="container">
    <div class="row">
      <div class="col text-left"><small>Travell Hipe by <strong>MadDale</strong></small></div>
      <div class="col text-right"><nav><ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Contacts", contact_path %>
        </li>
      </ul>
    </nav>
    </div>
    </div>
  </div>

