<footer class="footer">
  <small>Travell Hipe by <strong>MadDale</strong></small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Contacts", contact_path %>
        </li>
      </ul>
    </nav>
</footer>